@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body, html {
  font-family: "Nunito", system-ui, sans-serif;
}

body {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: .5rem;
}

body::-webkit-scrollbar-track {
  width: .5rem;
  background-color: rgba(0, 128, 128, 0.226);
}

body::-webkit-scrollbar-thumb {
  width: .5rem;
  max-height: .2rem;
  background-color: #1D4151;
}